
body{
    margin: 0;
    background-color: #E3E4E0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.p{
    font-size: 15px;
}


.forecast-card{
    background-color:#428BCA ;
}
.hide {
    display: none;
}

.show {
    display: block;
}

#uVIndex {
/* background-color: red;
background-color: green;
background-color: yellow; */
}