
body{
    margin: 0;
    /* background-color: #E3E4E0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px; */
} 

.p{
    font-size: 15px;
}


.forecast-card{
    background-color:#428BCA ;
}
.hide {
    display: none;
}

.show {
    display: block;
}

.lowUv{
 color: green;    
};
.mediumUv{
  color: yellow; 
};

.highUv{
 color: red;
}; 