
body{
    margin: 0;
    /* background-color: #E3E4E0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px; */
} 

li {
    font-size: 20px;
    list-style-type: none;
}




.lowUv{
 color: green;    
};
.mediumUv{
  color: yellow; 
};

.highUv{
 color: red;
}; 